/* Base y utilidades globales */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before, &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #ebe7de;
}

p {
  color: #000000;
  font-size: 1.6rem;
  line-height: 2;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, .heading-blanco, h3 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 5rem 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

h2, .heading-blanco {
  display: block;
}

h2 span, .heading-blanco span {
  font-size: 3.6rem;
  color: #5E311E;
}

h2::after {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  background-image: url(../img/cafe.svg);
  background-size: 10rem;
}

.heading-blanco {
  &::after {
    content: "";
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    background-image: url(../img/cafe.svg);
    background-size: 10rem;
  }

  color: #FFFFFF;

  span {
    color: #FFFFFF;
  }

  &::after {
    display: none;
  }
}

h3 {
 font-size: 3.2rem !important;;
}
