
.footer {
  background-color: #5E311E;

  .contenido-footer {
    padding: 5rem;
  }

  .copyright {
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: #FFFFFF;
  }
}

@media (min-width: 768px) {
  .footer .contenido-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.footer-box {
  font-family: "Bona Nova", serif;
  text-align: center;
  margin-bottom: 5rem;

  h3 {
    font-family: "Bona Nova", serif;
    margin: 0 0 1rem 0;
    font-size: 2.4rem;
    color: #C39C63;
  }

  p, a {
    font-size: 2rem;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .footer-box {
    margin-bottom: 0;
  }
}

.footer-box.redes {
  display: flex;
  flex-wrap: wrap;       
  align-items: center;   
  justify-content: center;
  gap: 10px;             
  margin-top: 2rem;      // ← esto hace que baje el bloque

  h3 {
    margin: 0;
    font-size: 2rem;
    color: #C39C63;
  }

  .iconos-redes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    a img {
      width: 35px;
      height: 35px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 360px) {
  .footer-box.redes {
    flex-direction: column;
    gap: 5px;
    margin-top: 2.5rem; // un poco menos en móvil

    h3 {
      font-size: 1.8rem;
    }

    .iconos-redes {
      justify-content: center;
      gap: 8px;

      a img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
