.nuestro-menu {
  background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, #5E311E, #5E311E);
  background-repeat: no-repeat;
  background-position: center 5rem, center 92%, 100%;
  background-size: 200%;
  padding: 15rem 2rem 20rem 2rem;
}

@media (min-width: 768px) {
  .nuestro-menu {
    padding: 15rem 0 20rem 0;
    background-size: 100%;
  }
}

@media (min-width: 1024px) {
  .nuestro-menu {
    background-size: 50%, 50%, 100%;
  }
}

@media (min-width: 768px) {
  .grid-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.menu {
  h3 {
    color: #FFFFFF;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #FFFFFF;
      font-size: 2.2rem;
      line-height: 1.5;
      margin: 0 0 2rem 0;

      span {
        display: block;
        color: #C39C63;
      }
    }

    .precio {
      font-size: 4rem;
      font-weight: 700;
    }
  }
}

.contenido-menu {
  background-image: url(../img/cafe.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  aspect-ratio: 3/6;

  .texto p {
    font-size: 2rem;
  }
}

@media (min-width: 480px) {
  .contenido-menu {
    aspect-ratio: 3/4;
  }
}

@media (min-width: 768px) {
  .contenido-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    aspect-ratio: 16/6;
    background-size: 40%;
    background-position: bottom right;
  }
}

/* Contenido principal */

.contenido-principal {
  background-color: #FFFFFF;
  padding: 5rem 2rem;
}

@media (min-width: 768px) {
  .contenido-principal {
    padding: 10rem;
    margin-top: -10rem;
    position: relative;
  }
}
