// Nav


// Logo 
.logo {
  position: relative;
  width: 50%;
  margin: 0 auto;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 70%);
    opacity: 0;
    animation: destello 3s infinite;
  }

  &::after {
    animation-delay: 0.7s; // segundo destello
  }
}

@keyframes destello {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .barra .logo {
    width: 20rem;
    margin: 0;
  }
}
